/************************* Tage Selector *************************/
body {
  /* if you want to use a unifies color like black or gray use the body*/
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-weight: bold;
  font-size: 1.25rem;
  /* we can unify our text by putting attributes here*/
  line-height: 2;
}

hr {
  /*   we can shroten the hr attribute into one line only*/
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  margin: 10px 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

/************************* Class Selector *************************/
/************************* Containers *************************/
.top-container {
  background-color: #E4F9F4;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

/************************* Spans *************************/
.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-disc1 {
  clear: left;
}

.skill-disc2 {
  clear: right;
}

.intro {
  width: 40%;
  margin: auto;
}

.q-details {
  width: 50%;
  margin: 40px auto 60px;
}

.rights {
  color: #EAF6F6;
  margin: 20px 0;
  font-size: .75rem;
}

/************************* Images *************************/
.mountain {
  display: block;
  margin: 0 auto;
}

.bot-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.coding-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 5px;
}

.risk-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 5px;
}
/* beautify fixed the button design problam */
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 16px;
  box-shadow: 1px 1px 20px 0 #000000;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #2BC4AD 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
  background-image: linear-gradient(to bottom, #30E3CB, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
